extends ../layout

block content

    link(rel='stylesheet', href='/stylesheets/principal/Principal.css')

    .form-top
        a TEXTO

    .form-down
        a TEXTO

    .form-left
        a TEXTO

    .form-right
        a TEXTO

    .form-center
        img(src="../../images/mine.png" id="mine")
