.form-top{
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0%;
  left: 0;
  background-color: red;
}


.form-down{
  position: absolute;
  width: 100%;
  height: 15%;
  top: 85%;
  right: 0;
  background-color: blue;
}

.form-left{
  position: absolute;
  width: 15%;
  height: 70%;
  top: 15%;
  right: 0;
  background-color: yellow;
}


.form-right{
  position: absolute;
  width: 15%;
  height: 70%;
  top: 15%;
  right: 85%;
  background-color: orange;
}

#mine{
  position: absolute;
  width: 25%;
  height: 25%;
  top: 33%;
  right: 37%;
}
